{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>    
        $(document).ready(function () {
            
            $('#listadoscamas').DataTable({

                responsive: true,
                paging: true,
                searching: true,
                ordering: true,
                stateSave: true,
                lengthMenu: [ 
                    [10, 25, 50, -1],
                    [10, 25, 50, "Todo"]
                ],
                fixedHeader: {
                    header: true,
                    footer: true
                },
                columnDefs: [

                    {
                        targets: [2,9],
                        visible: false
                    }
                ],
                language: {
                    url: "{{ asset('bundles/riwebservices/DataTables/espanol.json') }}",
                    buttons: {
                        colvis: '<i class="fa fa-columns"></i>',
                        colvisRestore: 'Restaurar'
                    }
                },
                dom: "Blft<'row'<'col-md-6 p-0'i><'col-md-6 p-0'p>>",
                buttons: [
            
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fas fa-copy"></i>',
                        titleAttr: 'Copiar',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    
                    {
                    extend: 'csvHtml5',
                    text: '<i class="fas fa-file-excel"></i>',
                    titleAttr: 'CSV',
                    fieldSeparator: ';',
                    fieldBoundary: '"',
                    exportOptions: {
                        columns: ':visible'
                        }
                    },
                    
                    {
                        extend: 'print',
                        footer: true,
                        text: '<i class="fa fa-print"></i>',
                        titleAttr: 'Imprimir',
                        exportOptions: {
                            columns: ':visible',
                        }
                    },
                    
                    {
                        extend: 'colvis',
                        postfixButtons: ['colvisRestore']
                    }
                    
                ]

            });
 
        });
      
    </script>
    
{% endblock %}

{% form_theme form _self %}

{%- block submit_widget -%}

    {%- set type = type|default('submit') -%}

    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        
        {% if name == 'bt_ver' %}
                <i class="fas fa-sync"></i>
        {% endif %}
        
        {{ label|trans({}, translation_domain) }}
    </button>
{%- endblock submit_widget -%}


{% block cuerpo %} 

    <div class="form container">

        <h3>Consulta</h3>
        <h4>Camas</h4>
                
    
        
    {{ form_start(form) }}
    
    <div class="row">
        <div class="col">
            {{ form_label(form.efectores) }}
            {{ form_widget(form.efectores) }}

            <div class="ri_twig_form_errors">
                {{ form_errors(form.efectores) }}
            </div>

        </div>
    </div>
            
    <div class="row">
        
        <div class="col">
            {{ form_label(form.salas) }}
            {{ form_widget(form.salas) }}

            <div class="ri_twig_form_errors">
                {{ form_errors(form.salas) }}
            </div>

        </div>

        <div class="col">
            {{ form_label(form.habitaciones) }}
            {{ form_widget(form.habitaciones) }}

            <div class="ri_twig_form_errors">
                {{ form_errors(form.habitaciones) }}
            </div>

        </div>
            
    </div>
            
    <div class="row">
        <div class="col">
            {{ form_label(form.tipos_cuidados_progresivos) }}
            {{ form_widget(form.tipos_cuidados_progresivos) }}

            <div class="ri_twig_form_errors">
                {{ form_errors(form.tipos_cuidados_progresivos) }}
            </div>

        </div>

        <div class="col">
            {{ form_label(form.categorias_edades) }}
            {{ form_widget(form.categorias_edades) }}

            <div class="ri_twig_form_errors">
                {{ form_errors(form.categorias_edades) }}
            </div>

        </div>

        <div class="col">
            {{ form_label(form.estado) }}
            {{ form_widget(form.estado) }}

            <div class="ri_twig_form_errors">
                {{ form_errors(form.estado) }}
            </div>

        </div>
    </div>
            
    <div class="row">
        <div class="col-md-1">
            {{ form_widget (form.bt_ver) }}
        </div>
    </div>
        
    {{ form_end(form) }}
    
   
    <div class="ri-container">
        
    <h4 style="margin-top: 20px;">RESULTADOS
        {% if camas|length!=0 %}
            (Fecha/Hora: {{ "now"|date('m/d/Y H:i','America/Argentina/Buenos_Aires') }})
        {% endif %}
    </h4>
            
            
    <table id="listadoscamas" cellspacing="10" width="100%">
        <thead>
            
            <tr>
                <th>Efector</th>
                <th>Sala</th>
                <th>Habitación</th>
                <th>Cama</th>
                <th>Estado</th>
                <th>Clasificación</th>
                <th>Oxígeno</th>
                <th>Respirador</th>
                <th>Aislamiento</th>
                <th>Fecha/Hora modificación</th>
                <th>Fecha/Hora sincronización</th>
            </tr>
            
        </thead>
        
        
        <tbody>
            {% for cama in camas %}
            <tr>
                <td>{{ cama.nom_efector }}</td>
                <td>{{ cama.nombre_sala }}</td>
                <td>{{ cama.nombre_habitacion }}</td>
                <td>{{ cama.nombre_cama }}</td>
                {# L=libre; O=ocupada; F=fuera de servicio; R=en reparacion; V=reservada #}
                <td>
                    {% if cama.estado == 'L' %}
                        LIBRE
                    {% endif %}
                    {% if cama.estado == 'O' %}
                        OCUPADA
                    {% endif %}
                    {% if cama.estado == 'F' %}
                        FUERA DE SERVICIO
                    {% endif %}
                    {% if cama.estado == 'R' %}
                        REPARACION
                    {% endif %}
                    {% if cama.estado == 'V' %}
                        RESERVADA
                    {% endif %}
                </td>
                <td>{{ cama.clasificacion_cama }}</td>
                <td>
                    {% if cama.oxigeno %}
                        SI
                    {% else %}
                        NO
                    {% endif %}
                </td>
                <td>
                    {% if cama.respirador %}
                        SI
                    {% else %}
                        NO
                    {% endif %}
                </td>
                <td>
                    {% if cama.aislamiento %}
                        SI
                    {% else %}
                        NO
                    {% endif %}
                </td>
                <td>{{ cama.fecha_modificacion }}</td>
                <td>{% if cama.fecha_hora_sincro == null %}
                        En Línea
                    {% else %}
                        {{ cama.fecha_hora_sincro }}
                    {% endif %}
                </td>
                    
            </tr>
            {% endfor %}
                    
        </tbody>
    </table>
          
    </div>
    </div>
            
            
    <script>
        
        var $efectores = $('#set_consulta_efectores');
        var $salas = $('#set_consulta_salas');
        
        
        $efectores.change(function() {
            
            refresh_combos(0,this);
        });
        
                
        $salas.change(function() {
        
            refresh_combos(1,this);

        });
        
        
        
        function refresh_combos(combo,obj){
            
            // form
            var $form = $(obj).closest('form');
          
            // captura datos
            switch(combo) {
                
                case 0:
                    
                    id_efector = $efectores.val();
                    id_sala = '';
                
                    break;
                    
                case 1:
                    
                    id_efector = $efectores.val();
                    id_sala = $salas.val();
                    
                    break;
                                                            
            }
                    
            // set arreglo de datos AJAX
            var data = {};
            data[$efectores.attr('name')] = id_efector;
            data[$salas.attr('name')] = id_sala;
            
            
            console.log(data);
            
            // submit AJAX
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                
                    console.log(html);

                    switch(combo) {

                        case 0: 

                            // salas
                            $('#set_consulta_salas').replaceWith(

                                $(html).find('#set_consulta_salas')
                            );

                            // habitaciones
                            $('#set_consulta_habitaciones').replaceWith(

                                $(html).find('#set_consulta_habitaciones')
                            );

                            // refresh listener
                            $salas = $('#set_consulta_salas');

                            $salas.change(function() {

                                refresh_combos(1,this);

                            });

                            break;

                        case 1:

                            // habitaciones
                            $('#set_consulta_habitaciones').replaceWith(

                                $(html).find('#set_consulta_habitaciones')
                            );


                            break;
                    }


                }

            });

        }
        
        
        
    </script>
    
{% endblock %}