{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    

{% endblock %}


{% block cuerpo %} 

    <h2>Dynamic Generation for Submitted Forms Test</h2>

    {{ form_start(form) }}
    
        {{ form_row(form.efectores) }}    
        {{ form_row(form.salas) }} 
        {# ... #}
    {{ form_end(form) }}
    
    <script>
        
        var $efectores = $('#test_combos2_efectores');
        var $salas = $('#test_combos2_salas');
        var $habitaciones = $('#test_combos2_habitaciones');
                
        
        $efectores.change(function() {
            
            refresh_combos(0,this);
        });
        
        
        // 0: salas
        // 1: habitaciones
        // 2: camas
        function refresh_combos(combo,obj){
            
            // form
            var $form = $(obj).closest('form');
          
            // captura datos
            switch(combo) {
                
                case 0:
                    
                    id_efector = $efectores.val();
                    id_sala = '';
                    id_habitacion = '';
                
                    break;
                    
                case 1:
                    
                    id_efector = $efectores.val();
                    id_sala = $salas.val();
                    id_habitacion = '';
                    
                    break;
                    
                case 2: 
                    
                    id_efector = $efectores.val();
                    id_sala = $salas.val();
                    id_habitacion = $habitaciones.val();
                  
                    break;
                    
            }
                    
            // set arreglo de datos AJAX
            var data = {};
            data[$efectores.attr('name')] = id_efector;
            data[$salas.attr('name')] = id_sala;
            data[$habitaciones.attr('name')] = id_habitacion;
            
            
            // submit AJAX
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                
                
                switch(combo) {

                    case 0: 

                        $('#test_combos2_salas').replaceWith(
                        
                            $(html).find('#test_combos2_salas')
                        );
                        
                        $('#test_combos2_habitaciones').replaceWith(
                        
                            $(html).find('#test_combos2_habitaciones')
                        );
                
                        $('#test_combos2_camas').replaceWith(
                        
                            $(html).find('#test_combos2_camas')
                        );
                
                        // refresh listener
                        $salas = $('#test_combos2_salas');
                
                        $salas.change(function() {
        
                            refresh_combos(1,this);

                        });
                                                                        
                        break;

                    case 1: 

                        $('#test_combos2_habitaciones').replaceWith(
                        
                            $(html).find('#test_combos2_habitaciones')
                        );
                        
                        $('#test_combos2_camas').replaceWith(
                        
                            $(html).find('#test_combos2_camas')
                        );
                
                        // refresh listener
                        $habitaciones = $('#test_combos2_habitaciones');
                        
                        $habitaciones.change(function() {

                            refresh_combos(2,this);

                        });
                                                                                
                        break;

                    case 2:

                        $('#test_combos2_camas').replaceWith(
                        
                            $(html).find('#test_combos2_camas')
                        );
                                
                        break;

                    }
                    
                }
                    
            });

        }
        
        
    </script>
    
        
    
{% endblock %}



