{# consulta listados de camas #}

{% extends 'ThemeAplicativoBundle:Default:base.html.twig' %}

{% block cuerpo %} 

    {% embed 'ThemeAplicativoBundle:Componentes:filtros.html.twig' %}
    
        
    {% endembed %}
    
    {% embed 'ThemeAplicativoBundle:Componentes:tabla.html.twig' %}

        {% block TituloTabla %}
            
            Listado de camas. Registros encontrados: {{ pagination.getTotalItemCount }}
           
        {% endblock %}

        {% block headerTabla %}
            <tr>
                <td>Efector</td>
                <td>Sala</td>
                <td>Habitación</td>
                <td>Cama</td>
                <td>Estado</td>
                <td>Clasificación</td>
                <td>Baja</td>
            </tr>
        {% endblock %}

        {% block cuerpoTabla %}


            {% for cama in pagination %}
                                
                <tr>
                    <td>{{ cama.idHabitacion.idSala.idEfector.nomEfector }}</td>
                    <td>{{ cama.idHabitacion.idSala.nombre }}</td>
                    <td>{{ cama.idHabitacion.nombre }}</td>
                    <td>{{ cama.nombre }}</td>
                    <td>
                        {% if cama.estado == "L" %}LIBRE
                        {% elseif cama.estado == "O" %}OCUPADA
                        {% elseif cama.estado == "F" %}FUERA DE SERVICIO
                        {% else %}DESCONOCIDO
                        {% endif %}</td>
                    <td>{{ cama.idClasificacionCama.clasificacionCama }}</td>
                    <td>{% if cama.baja == 0 %}NO
                        {% else %}SI
                        {% endif %}</td>

                </tr>

            {% endfor %}

            <div class="navigation">

                {{ knp_pagination_render(pagination) }}

            </div>

            <tr> 
                <td>{{ dump(pagination) }} </td>

            </tr>

        {% endblock %}



    {% endembed %}


{% endblock %}