{# consulta listados de camas #}

{% extends 'ThemeAplicativoBundle:Default:base.html.twig' %}

{% block menu %} 
    
    {% block submenus %}
        
        <li class=''><a href='index.html'><span>Inicio</span></a></li>
        
        <li class='has-sub'><a href='#'><span>Consultas</span></a>
            
            <ul>
                <li class='has-sub'><a href='#'><span>Camas</span></a>
                    <ul>
                        <li><a href='#'><span>Libres</span></a></li>
                        <li class='last'><a href='#'><span>Todas</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'><a href='#'><span>Estadísticas</span></a>
                    <ul>
                        <li><a href='#'><span>Ocupación</span></a></li>
                        <li class='last'><a href='#'><span>Efectores</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href='#'><span>Acerca de</span></a></li>
        <li class='last'><a href='#'><span>Contacto</span></a></li>

    {% endblock %}

{% endblock %}

{% block cuerpo %} 

    <form class="form" onsubmit="return false;">
        
            <div class="row">
                
                <h4>Búsqueda de camas:</h4>
                
            </div>
        
            <div class="row">
                
                <fieldset>
                    
                    
                    {# 1 #}
                    
                    <div class='threecol'>
                        
                        <label>Efector</label>
                            
                        <select name="idEfector">
                            
                            <option value="">Seleccione una opción</option> 
                            {% for efector in efectores %}
                            
                            <option value={{ efector.idEfector }}> {{efector.nomEfector }}</option> 
                            
                            {% endfor %}
                        </select>
                        
                    </div>
                    
                    {# 2 #}
                    
                    <div class='threecol'>
                        
                        <label>Sala</label>
                            
                        <select name="idSala">
                            
                            <option value="">Seleccione una opción</option> 
                            {% for sala in salas %}
                            
                            <option value={{ sala.idSala }}> {{sala.nombre }}</option> 
                            
                            {% endfor %} 
                            
                        </select>
                        
                    </div>
                    
                    {# 3 #}
                    
                    <div class='threecol last'>
                        
                        <label>Habitación</label>
                            
                        <select name="idHabitacion">
                            
                            <option value="">Seleccione una opción</option> 
                            {% for habitacion in habitaciones %}
                            
                            <option value={{ habitacion.idHabitacion }}> {{habitacion.nombre }}</option> 
                            
                            {% endfor %} 
                            
                        </select>
                            
                    </div>
                    
                    {# 4 #}
                    <div class='threecol'>
                        
                        <label>Cama</label>
                        <input type="text" name="id_cama" value="1">
                                                
                    </div>
                    
                    {# 5 #}
                    
                    <div class='threecol'>
                        
                        <label>Estado de la cama</label>
                            
                        <select name="estado">
                            
                            <option value="">Seleccione una opción</option> 
                            <option value="1" selected="selected">Libre</option> 
                            <option value="2" >Ocupada</option> 
                            <option value="3" >Fuera de servicio</option> 
                            
                        </select>
                        
                    </div>
                    
                    {# 6 #}
                    
                    <div class='threecol last'>
                        
                        <label>Clasificación de cama</label>
                        
                        <select name="idClasificacionCama">
                            
                            <option value="">Seleccione una opción</option> 
                            {% for clasificacionCama in clasificacionesCamas %}
                            
                            <option value={{ clasificacionCama.idClasificacionCama }}>{{clasificacionCama.clasificacionCama }}</option> 
                            
                            {% endfor %} 
                            
                        </select>
                        
                    </div>
                    
                </fieldset>
                    
            </div>
                    
            <div class='row'>
                
                <div class='threecol last'>
                    
                    <input type="submit" value="Buscar"></input>
                    
                </div>
                
            </div>    

    </form>
    
                
    {% embed 'ThemeAplicativoBundle:Componentes:tabla.html.twig' %}

        {% block TituloTabla %}
            
            Listado de camas. Registros encontrados: {{ pagination.getTotalItemCount }}
           
        {% endblock %}

        {% block headerTabla %}
            <tr>
                <td>Efector</td>
                <td>Sala</td>
                <td>Habitación</td>
                <td>Cama</td>
                <td>Estado</td>
                <td>Clasificación</td>
                <td>Baja</td>
            </tr>
        {% endblock %}

        {% block cuerpoTabla %}


            {% for cama in pagination %}
                                
                <tr>
                    <td>{{ cama.idHabitacion.idSala.idEfector.nomEfector }}</td>
                    <td>{{ cama.idHabitacion.idSala.nombre }}</td>
                    <td>{{ cama.idHabitacion.nombre }}</td>
                    <td>{{ cama.nombre }}</td>
                    <td>
                        {% if cama.estado == "L" %}LIBRE
                        {% elseif cama.estado == "O" %}OCUPADA
                        {% elseif cama.estado == "F" %}FUERA DE SERVICIO
                        {% else %}DESCONOCIDO
                        {% endif %}</td>
                    <td>{{ cama.idClasificacionCama.clasificacionCama }}</td>
                    <td>{% if cama.baja == 0 %}NO
                        {% else %}SI
                        {% endif %}</td>

                </tr>

            {% endfor %}

            <div class="navigation">

                {{ knp_pagination_render(pagination) }}

            </div>

            
            <tr> 
                {# <td>{{ dump(pagination) }} </td> 
                <td> {{ dump(clasificacionesCamas) }} </td> #}

            </tr>
            
            

        {% endblock %}



    {% endembed %}


{% endblock %}