{# consulta listados de camas #}

{% include 'ThemeAplicativoBundle:Componentes:tabla.html.twig' %}

{% embed 'ThemeAplicativoBundle:Componentes:tabla.html.twig' %}

{% block TituloTabla %}Listado de camas 

<div class="count">
    {{ pagination.getTotalItemCount }}
</div>

{% endblock %}

{% block headerTabla %}

{% endblock %}

{% block cuerpoTabla %}


{% for cama in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ cama.idCama }}</td>
    <td>{{ cama.nombre }}</td>
    <td>{{ cama.estado }}</td>
</tr>
{% endfor %}

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}



{% endembed %}
