<div class="row">
    
        
    

    <ul class="icons_left ui-widget ui-helper-clearfix">
        <li>                            
            <h2 class="titulo_aplicativo">{{ encabezado_titulo }}</h2>
            <p class="organismo">{{ encabezado_nombre_dependencia }} - {{ encabezado_nombre_organismo }} </p>
        </li>
    </ul>

</div>

<div class="row">
    <div id="toolbars" class="twelvecol tool-bars">
        <ul class="ui-widget ui-helper-clearfix" id="icons">
            
            {% if app.user is not null %}
            
{#            <li style="color:white">{{app.user.username}} | <a href="{{ path(path_logout) }}" title="Salir del sistema...">Salir</a></li>#}
            
            <li style="color:white">{{app.user.username}} | <a href="{{ path_logout }}" title="Salir del sistema">Salir</a></li>
                                    
            {% endif %}
            
            <li id="ver_ayuda" style="color:white" title="Clic para ver ayuda">

        </ul>
        <div class="clear"></div>
    </div>
</div>