<!DOCTYPE html>
<html>
<head>
    <title>Red Internación</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="copyright" content="&copy;"/>
    <meta name="robot" content="all"/>

    {% block stylesheets %}

        {#

            ------------------
            DataTables
            ------------------
        
            Librerías incluidas:
            
                * jQuery 3 3.2.1
                * JSZip 2.5.0
                * pdfmake 0.1.32
                * DataTables 1.10.16
                * Buttons 1.5.1
                * Column visibility 1.5.1
                * Flash export 1.5.1
                * HTML5 export 1.5.1
                * Print view 1.5.1
                * FixedColumns 3.2.4
                * FixedHeader 3.1.3
                * KeyTable 2.3.2
                * Responsive 2.2.1
                * Scroller 1.4.4
        
            ------------------

        #}

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/riwebservices/DataTables/datatables.min.css') }}"/>
        
        {#

            -----------
            bootstrap 4
            -----------

        #}

        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/bootstrap-4.0.0/css/bootstrap.min.css') }}"/>

        {#

            -----------
            estilos stg
            -----------

        #}

        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/stg/normalize.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/stg/1140.css') }}"/>

        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/jquery-ui-1.12.1/jquery-ui.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/jquery-ui-1.12.1/jquery-ui.structure.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/jquery-ui-1.12.1/jquery-ui.theme.min.css') }}" />
        
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/stg/menu.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/stg/html5-pagination.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/stg/styles-1.0.2.css') }}"/>

        {#
            --
            RI
            --
        #}

        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/RI/ri.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/RI/ri_stg_form.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/RI/ri_table.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/RI/ri_datatable.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/RI/ri_modal.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/RI/ri_orgchart.css') }}"/>
        
        <!--[if lte IE 9]>
        <link rel="Shortcut icon" href="//www.santafe.gov.ar/assets/standard/images/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="//www.santafe.gov.ar/assets/standard/css/ie.css"/>
        <script src="//www.santafe.gov.ar/assets/standard/js/html5shiv.js"></script>
        <script src="//www.santafe.gov.ar/assets/standard/js/respond.min.js"></script>
        <![endif]-->

        {#

            --------------------
            estilos font-awesome
            --------------------

        #}

        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/fontawesome-free-5.0.6/fontawesome-all.css') }}"/>

        {#

            --------------
            estilos jqTree
            --------------

        #}

        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/jqTree-1.4.4/jqtree.css') }}"/>
        
        {#

            ----------------
            estilos OrgChart
            ----------------

        #}

        <link rel="stylesheet" href="{{ asset('bundles/riwebservices/OrgChart-2.1.1/jquery.orgchart.css') }}"/>

    {% endblock %}

        
    {% block javascripts %}
        
        {#

            ----------------------
            javascripts datatables
            ----------------------

        #}
        
        <script type="text/javascript" src="{{ asset('bundles/riwebservices/DataTables/datatables.min.js') }}"></script>
        
        {#

            ---------------------
            javascripts jquery-ui
            ---------------------

        #}
        
        <script src="{{ asset('bundles/riwebservices/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
        
        {#
            ---------------------
            javascripts de la STG
            ---------------------
        #}

        <script src="{{ asset('bundles/riwebservices/stg/match-media.js') }}"></script>
        <script src="{{ asset('bundles/riwebservices/stg/interface.js') }}"></script>

        {#

            ------------------
            javascripts jqTree
            ------------------

        #}
        
        <script src="{{ asset('bundles/riwebservices/jqTree-1.4.4/tree.jquery.js') }}"></script>
        
        {#

            --------
            OrgChart
            --------

        #}

        <script src="{{ asset('bundles/riwebservices/OrgChart-2.1.1/jquery.orgchart.js') }}"></script>

        {#

            ------
            Popper
            ------
        #}
        
        <script src="{{ asset('bundles/riwebservices/Popper/popper.min.js') }}"></script>
        
        {#

            -----------
            bootstrap 4
            -----------
        #}

            <script src="{{ asset('bundles/riwebservices/bootstrap-4.0.0/js/bootstrap.min.js') }}"></script>

        {#

            --
            RI
            --

        #}

        <script src="{{ asset('bundles/riwebservices/RI/ri_mod.js') }}"></script>
        <script src="{{ asset('bundles/riwebservices/RI/ri_orgchart.js') }}"></script>

        {#

            --
            UIblock
            --

        #}

        <script src="{{ asset('bundles/riwebservices/UIblock/UIblock.js') }}"></script>

    {% endblock %}
    
    <link rel="icon" type="image/x-icon" href="{{ asset('red-internacion.ico') }}"/>
    
</head>

<body id="top">

{% include 'cabecera.html.twig' %}

<div class="container">

    <div class="row top-padding">

        {% include 'top.html.twig' %}

        {% block barraHerramientas %}
        {% endblock %}
    
        <div id='cssmenu'>
            <ul>
                {% block menu %} 
                    {% block submenus %}
                        <li class='has-sub'><a href='#'><span>Consultas</span></a>
                            <ul>
                                <li><a href='{{ path_root_menu }}/set/consulta'><span>Camas</span></a></li>
                            </ul>
                        </li>

                        <li class='has-sub'><a href='#'><span>Configuración Edilicia</span></a>
                            <ul>
                                <li><a href='{{ path_root_menu }}/configuracion_edilicia/organigrama'><span>Organigrama</span></a></li>
                            </ul>
                        </li>

                        <li class='has-sub'><a href='#'><span>Logger</span></a>
                            <ul>
                                <li><a href="{{ path_root_menu }}/logger/consulta"><span>Consulta</span></a></li>
                                <li><a href="{{ path_root_menu }}/logger/triggers"><span>Triggers</span></a></li>
                                <li><a href="{{ path_root_menu }}/logger/config"><span>Configuración</span></a></li>
                            </ul>
                        </li>

                    {% endblock %}
                {% endblock %}
            </ul>
        </div>


        {# ruta de navegacion #}

        {% block cuerpo %}{% endblock %}

        {% include 'footer.html.twig' %}

        {% include 'modales.html.twig' %}

        <!-- <div style="float: right; color: white;padding: 20px;">
        <a href="#top" class="link_white"> arriba </a>
        </div> -->

    </div>

</div>

<div id="myProgressBar" style="visibility: hidden;"></div>

</body>
</html>