<!DOCTYPE html>
<html>
    <head>
        <title>pruebas</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="copyright" content="&copy;" />
        <meta name="robot" content="all" />
        
        {% block stylesheets %}
            
            {% stylesheets 'bundles/assets/css/datatable/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets 'bundles/assets/css/stg/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <!--[if lte IE 9]>
                <link rel="Shortcut icon" href="//www.santafe.gov.ar/assets/standard/images/favicon.ico" type="image/x-icon" />
                <link rel = "stylesheet" type = "text/css" href ="//www.santafe.gov.ar/assets/standard/css/ie.css" />
                <script src="//www.santafe.gov.ar/assets/standard/js/html5shiv.js"></script>
                <script src="//www.santafe.gov.ar/assets/standard/js/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        {% block javascripts %}
            
            {% javascripts '@AssetsBundle/Resources/public/js/datatable/*' output='js/compiled/main1.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@AssetsBundle/Resources/public/js/stg/*' output='js/compiled/main2.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('red-internacion.ico') }}" />
    </head>
    <body id="top">

        <div role="navigation" class="navbar navbar-sf navbar-fixed-top">
            <div class="container row-top">
                <div class="navbar-header">
                    <a href="//www.santafe.gov.ar" class="navbar-brand">
                        <img alt="Gobierno de Santa Fe" src="{{ asset('bundles/assets/images/stg/gob-santafe.png') }}">
                    </a> 
                </div>
            </div>
        </div>        

        <div class="container">

            <div class="row top-padding">  

                {% include 'top.html.twig' %}

                {% block barraHerramientas %}                
                {% endblock %}

                <div id='cssmenu'>
                    <ul>
                        {% block menu %} 
                            {% block submenus %}
                                <li class=''><a href='index.html'><span>Home</span></a></li>
                                <li class='has-sub'><a href='#'><span>Products</span></a>
                                    <ul>
                                        <li class='has-sub'><a href='#'><span>Product 1</span></a>
                                            <ul>
                                                <li><a href='#'><span>Sub Item</span></a></li>
                                                <li class='last'><a href='#'><span>Sub Item</span></a></li>
                                            </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Product 2</span></a>
                                            <ul>
                                                <li><a href='#'><span>Sub Item</span></a></li>
                                                <li class='last'><a href='#'><span>Sub Item</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href='#'><span>About</span></a></li>
                                <li class='last'><a href='#'><span>Contact</span></a></li>
                            {% endblock %}
                        {% endblock %}
                        </ul>
                    </div>

                    {# ruta de navegacion #} 

                    {% block cuerpo %} 

                    {% endblock %} 

                    {% include 'footer.html.twig' %} 

                    {% include 'modales.html.twig' %}

                </div>
            </div>

            <div id="myProgressBar" style="visibility: hidden;"></div>
            
        </body>
</html>
